@model IEnumerable<TestApp.Models.Category>


<div class="col-xl-12">
    <div class="demo-inline-spacing mt-3">
        <button type="button" class="btn btn-outline-danger rounded-pill" data-toggle="ajax-modal" data-target="#myModalCreate" data-url="@Url.Action($"Create")">
            Nouveau
        </button>

    </div>
</div>

<br />
<div id="PlaceHolderHere"></div>
<table id="example1" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th class="text-dark">
                Categorie
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Categories)
        {
            <tr>
                <td>
                    @item.CategoryName
                </td>
                <td>
                    <button type="button" class="btn btn-secondary rounded-pill" data-toggle="ajax-modal" data-target="#myModalEdit" data-url="@Url.Action($"EditCategory/{item.CategoryId }")">
                        <i class="fas fa-edit"></i>
                    </button> |

                    <button type="button" class="btn btn-info rounded-pill" data-toggle="ajax-modal" data-target="#myModalDelete" data-url="@Url.Action($"DeleteCategory/{item.CategoryId }")">
                        <i class="fas fa-trash"></i>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>


    <script src="~/AdminLTE-3.2.0/AdminLTE-3.2.0/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/AdminLTE-3.2.0/AdminLTE-3.2.0/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/AdminLTE-3.2.0/AdminLTE-3.2.0/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/AdminLTE-3.2.0/AdminLTE-3.2.0/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/AdminLTE-3.2.0/AdminLTE-3.2.0/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/AdminLTE-3.2.0/AdminLTE-3.2.0/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/AdminLTE-3.2.0/AdminLTE-3.2.0/plugins/jszip/jszip.min.js"></script>
    <script src="~/AdminLTE-3.2.0/AdminLTE-3.2.0/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/AdminLTE-3.2.0/AdminLTE-3.2.0/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/AdminLTE-3.2.0/AdminLTE-3.2.0/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/AdminLTE-3.2.0/AdminLTE-3.2.0/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/AdminLTE-3.2.0/AdminLTE-3.2.0/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <script>
            $(function () {
                $("#example1").DataTable({
                    "language": {
                        "decimal": "",
                        "emptyTable": "Aucun enregistrements correspondants trouvés",
                        "info": "Affiche _START_ à _END_ de _TOTAL_ entrées",
                        "infoEmpty": "Affichage de 0 à 0 sur 0 entrées",
                        "infoFiltered": "(filtered from _MAX_ total entries)",
                        "infoPostFix": "",
                        "thousands": ",",
                        "lengthMenu": "Affiche _MENU_ entrées",
                        "loadingRecords": "Chargement...",
                        "processing": "Processing...",
                        "search": "Rechercher:",
                        "zeroRecords": "Aucun enregistrements correspondants trouvés",
                        "buttons": {
                            "copy": "Copie",
                            "excel": "Exceller",
                            "pdf": "PDF",
                            "print": "Imprimer",
                            "colvis": "Visibility de la colonne",
                        },
                        "paginate": {
                            "first": "First",
                            "last": "Last",
                            "next": "Suivant",
                            "previous": "Précédent"
                        },
                        "aria": {
                            "sortAscending": ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        }
                    },
                    "responsive": true, "lengthChange": false, "autoWidth": false,

                }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
                $('#example2').DataTable({
                    "paging": true,
                    "lengthChange": false,
                    "searching": false,
                    "ordering": true,
                    "info": true,
                    "autoWidth": false,
                    "responsive": true,
                });
            });
    </script>
    <script type="text/javascript">
        $('.btn-primary').click(function () {
            var url = $('#myModal').data('url');
            $.get(url, function (data) {
                $('#myModal').html(data);
                $('#myModal').modal('show');
            });
        });
        $(function () {
            var PlaceHolderElement = $('#PlaceHolderHere');
            $('button[data-toggle="ajax-modal"]').click(function (event) {
                var url = $(this).data('url');
                var decodedUrl = decodeURIComponent(url);
                $.get(decodedUrl).done(function (data) {
                    PlaceHolderElement.html(data);
                    PlaceHolderElement.find('.modal').modal('show');
                });
            });
            PlaceHolderElement.on('click', '[data-save="modal"]', function (event) {
                event.preventDefault();
                var form = $(this).parents('.modal').find('form');
                var actionUrl = form.attr('action');
                var sendData = form.serialize();

                $.ajax({
                    type: "POST",
                    url: actionUrl,
                    data: sendData,
                    success: function () {
                        window.location.href = "/Categories/Index";
                    }
                })
                $.post(actionUrl, sendData).done(function (data) {
                    PlaceHolderElement.find('.modal').modal('hide');
                });
            });

        });
    </script>

